*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  font-family: "Montserrat" , "Roboto";

  --base-header-font-color: #252B42;
  --primary-btn-color : #23A6F0;
  --primary-btn-hover: #1f87c4;
  --primary-color-form: #fff;
  --primary-bc-color: rgb(235, 244, 252);

}


body{
  font-size: 1.6rem;
  min-height: 100vh;
  

}









header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--base-header-font-color);
  padding: 1.6rem 0;
  margin: 0 32rem 0;
 
  
}

header nav{
  display: flex;
  gap: 5.8rem;
}

header nav a.brand-name {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.2rem;
  letter-spacing: 0.007rem;

  text-decoration: none;
  color: var(--base-header-font-color);
 
 
}


header nav ul a{

  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 0.007rem;
  text-decoration: none;
  color: var(--base-header-font-color);
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.7s ease-out;
 

}


header nav ul a:hover{

 
  border-bottom: 2px solid var(--base-header-font-color);

}

header ul{
  display: flex;
  gap: 1.6rem;
  list-style: none;
}

header button{
  padding: 1rem 1.6rem;
  border: none;
  border-radius: 0.6rem;
  margin-right: 1rem;

  background-color: var(--primary-btn-color);

  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--primary-color-form);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

header button:hover{
  background-color: var(--primary-btn-hover);
}


section.problem{
  
  display: flex;
  padding: 1.2rem 32rem 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bc-color);
 

}

section.problem div.main-text{

  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--base-header-font-color);
}

section.problem div.main-text h1{

  font-size: 3.6rem;
  letter-spacing: 0.1rem;



}


section.problem img{

    width: 35%;
    height: 35%;

  
}

main{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 32rem 4rem;
  gap: 2.4rem;
  height: 40rem;


}

main h2{

  font-size: 3.6rem;
  letter-spacing: 0.1rem;
  color: var(--base-header-font-color);



}

main p{
  text-align: center;
  color: var(--base-header-font-color);
  line-height: 2rem;
}





section.motivation{
  
  display: flex;
  padding: 1.2rem 32rem 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bc-color);
  
 

}

section.motivation div.main-text{

  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--base-header-font-color);
}

section.motivation div.main-text h2{

  font-size: 3.6rem;
  letter-spacing: 0.1rem;
  color: var(--base-header-font-color);



}


section.motivation div.main-text p , main div.description p , section.problem div.main-text p{

  color: var(--base-header-font-color);
  line-height: 2rem;
}


section.motivation img{

    width: 35%;
    height: 35%;

  
}


section.numbers{
  
  padding: 4rem 32rem 4rem;
  display: flex;
  align-items: center;
  gap: 20rem;
}


section.numbers div.grafico{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

section.numbers div.grafico h2{
  font-size: 3.6rem;
  letter-spacing: 0.1rem;
  color: var(--base-header-font-color);
  text-align: center;
}


div.description{
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

}

div.description h2{
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: var(--base-header-font-color);
  
}


div.description p{
  
  color: var(--base-header-font-color);
  line-height: 2rem;
}


