*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  font-family: "Montserrat" , "Roboto";

  --base-header-font-color: #252B42;
  --primary-btn-color : #23A6F0;
  --primary-btn-hover: #1f87c4;
  --primary-color-form: #fff;
  --primary-bc-color: rgb(235, 244, 252);

}


body{
  font-size: 1.6rem;
  min-height: 100vh;
  

}









header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--base-header-font-color);
  padding: 1.6rem 0;
  margin: 0 32rem 0;
 
  
}

header nav{
  display: flex;
  gap: 5.8rem;
}

header nav a.brand-name {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.2rem;
  letter-spacing: 0.007rem;

  text-decoration: none;
  color: var(--base-header-font-color);
 
 
}


header nav ul a{

  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 0.007rem;
  text-decoration: none;
  color: var(--base-header-font-color);
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.7s ease-out;
 

}


header nav ul a:hover{

 
  border-bottom: 2px solid var(--base-header-font-color);

}

header ul{
  display: flex;
  gap: 1.6rem;
  list-style: none;
}

header button{
  padding: 1rem 1.6rem;
  border: none;
  border-radius: 0.6rem;
  margin-right: 1rem;

  background-color: var(--primary-btn-color);

  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--primary-color-form);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

header button:hover{
  background-color: var(--primary-btn-hover);
}


section.contextualization{
  
  display: flex;
  padding: 1.2rem 32rem 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bc-color);
 

}

section.contextualization div.main-text{

  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--base-header-font-color);
}

section.contextualization div.main-text h1{

  font-size: 3.6rem;
  letter-spacing: 0.1rem;



}


section.contextualization img{

    width: 35%;
    height: 35%;

  
}

main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 32rem 4rem;
  gap: 20rem;


}

main div.video-pitch{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

main div.video-pitch iframe{
  
  width: 55rem;
  height: 40rem;
  border: 1px solid #ccc; /* Adicionar uma borda para melhorar a aparência */
  border-radius: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
main div.video-pitch h2{
  text-align: center;

}

main div.video-pitch h2 , main div.description h2{

  font-size: 3.2rem;
  letter-spacing: 0.1rem;
  color: var(--base-header-font-color);
  



}


main div.description{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

}



section.alert-important{
  
  display: flex;
  padding: 1.2rem 32rem 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bc-color);
  
 

}

section.alert-important div.main-text{

  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--base-header-font-color);
}

section.alert-important div.main-text h2{

  font-size: 3.6rem;
  letter-spacing: 0.1rem;
  color: var(--base-header-font-color);



}


section.alert-important div.main-text p , main div.description p , section.contextualization div.main-text p{

  color: var(--base-header-font-color);
  line-height: 2rem;
}


section.alert-important img{

    width: 35%;
    height: 35%;

  
}

